body            { font-family: sans-serif; background: #eee; }
a, h1, h2, #feedbackTitle       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2, #feedbackTitle              { font-size: 1.2em; }
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.feedback        { list-style: none; margin: 0; padding: 0; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
/* 
Several notes:
1. Most screens should be 16:9 
2. Use thumbnail overlay class if you want to overlay image
*/
.thumbnail,
.thumbnailOverlay
{
    max-width:160px;
    max-height:90px;
    width:auto;
    height:auto;   
    position:absolute;
    z-index:1
}
.thumbnailOverlay
{
    z-index:2;
    opacity:0.4;
}
.feedbackBox
{
    overflow:hidden;
    margin:0.5em;
}
.thumbnailHolder
{
    width:160px;
    height:90px;
    overflow:auto;
    float:left;
    margin-right:0.5em;
}
.feedbackText
{
    float:left;
    margin:0em;
}
.feedbackInfo
{
    font-size: 0.8em;
}
.vote
{
    float:right;
}
.editable
{
    display:block;
    border:none;
}