{% extends "layout.html" %}
{% block body %}
  {% if g.user.is_authenticated() %}
    <script type=text/javascript src="{{
    url_for('static', filename='add_feedback.js') }}"></script>  
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!--
    <form enctype=multipart/form-data action="{{ url_for('add_feedback') }}" method=post class=add-feedback>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Screenshot:
        <dd><input type=file name=screenshot>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    -->
    <form enctype=multipart/form-data action="{{ url_for('add_feedback') }}" method=post class=add-feedback>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Screenshot:
        <dd><input type=file name=screenshot>
        <dt>Test:
        <dd><input type=checkbox name=test>        
        <dd><input type=submit value=Share>
      </dl>
    </form>
    <div id="output1">
    </div>
  {% endif %}
{% endblock %}