{% extends "layout.html" %}
{% block body %}
    <h1>Staging feedback</h1>
    {% if not post.id %}
    <form action="{{ url_for ('add_feedback') }}" method="post">
    {% else %}
    <form action="{{ url_for ('edit_feedback') }}" method="post">
    {% endif %}    
        <input class="editable" id="feedbackTitle" name="title" value="{{ post.title }}" />
        {% if url %}
            <img src="{{ url }}" alt="{{ filename }}" class="annotatable">
        {% endif %}
        <input class="editable" name="text" value="{{ post.text }}" />
        <p class="feedbackInfo"> @ UTC {{ post.timestamp.strftime( '%Y-%m-%d %I:%M:%S %p' ) }}</p>
        <input type="hidden" name="filename" value="{{ filename }}" />
        <input type="hidden" name="notes" />
        <input type="hidden" name="postId" value="{{ post.id }}" />
        <input type="submit" value="Save" />
    </form>
    {% if comments %}
        <h2>Comments</h2>
        {% for comment in comments %}
            <p>{{ comment.comment }}</p>
        {% endfor %}
    {% endif %}
    <h2>Post a comment:</h2>
    <form action="{{ url_for ('add_comment') }}" method="post">
        <textarea name="comment" rows=5 cols=40></textarea>
        <input type="hidden" name="postId" value="{{ post.id }}" />
        <input type="submit" value="Comment" />
    </form>    
    
    <script type=text/javascript src="
        {{ url_for('static', filename='add_annotations.js') }}"></script>
{% endblock %}