{% extends "layout.html" %}
{% block body %}
  {% block profile %}
  {% endblock %}
  <ul class=feedback>
  {% for item in feedback %}
    <div class="feedbackBox">
    <li><h2><a href="{{ url_for('show_post', post_id=item[0].id) }}">{{ item[0].title }}</a></h2>
    {% if item[2] %}
        <div class="thumbnailHolder">
            <img src="{{ item[2] }}" alt="{{ item[3] }}" class="thumbnail">
        </div>
    {% endif %}
    <div class="feedbackText">
        {{ item[0].text|safe }}
        <div class="feedbackInfo">by {{ item[1].username }} at {{ item[0].timestamp.strftime( '%Y-%m-%d %I:%M:%S %p' ) }}</div>
        {% if user %}
        <form class="deletePost" action="{{ url_for ('delete_feedback') }}" method="post">
            <input type="hidden" name="postId" value="{{ item[0].id }}" />
        </form>        
        <a href="{{ url_for ('show_post', post_id=item[0].id) }}">edit</a>                
        <a class="delete" href="#">delete</a>
        {% endif %}
    </div>
    <div class="vote">
        <button class="vote" type="submit" name="downvote" value={{ item[0].id }}>:(</button>
        <button class="vote" type="submit" name="upvote" value={{ item[0].id }}>:)</button>        
        <div id={{ item[0].id }}> {{ item[0].points }} points </div>
    </div>
    </div>
  {% else %}
    <li><em>Unbelievable.  No feedback here so far</em>
  {% endfor %}
  </ul>
  {% if page %}
    {% if page.has_prev %}
        <a href="{{ url_for('show_feedback', page=page.prev_num) }}">Previous</a>
    {% endif %}
    {% if page.has_next %}
        <a href="{{ url_for('show_feedback', page=page.next_num) }}">Next</a>    
    {% endif %}    
  {% endif %}
  <script type=text/javascript src="{{
  url_for('static', filename='show_feedback.js') }}"></script>    
{% endblock %}
