{% extends "layout.html" %}
{% block body %}
    <h1>Staging feedback</h1>
    <p>{{ post.title }}</p>
    {% if url %}
        <img src="{{ url }}" alt="{{ filename }}" class="annotatable">
    {% endif %}
    <p>{{ post.text }}</p>
    <form action="{{ url_for ('add_feedback') }}" method="post">
        <input type="hidden" name="title" value="{{ post.title }}" />
        <input type="hidden" name="filename" value="{{ filename }}" />
        <input type="hidden" name="text" value="{{ post.text }}" />
        <input type="hidden" name="notes" />
        <input type="hidden" name="postId" value="{{ post.id }}" />
        <input type="hidden" name="set" value="True" />
        <input type="submit" value="Save" />
    </form>
    
    <script type=text/javascript src="
        {{ url_for('static', filename='add_annotations.js') }}"></script>
{% endblock %}